build-wsl/
build/
build-debug/
build-release/
build-sanitize-addr/
build-sanitize-thread/
build-cov/
build-ci-debug/
build-ci-release/
build-cublas/
out/
tmp/
models/
models-mnt

compile_commands.json
CMakeSettings.json
.vs/
.vscode/
.clangd

.exrc
.cache
.DS_Store
.stablelm
.gpt-2

src/arm_neon.h
tests/arm_neon.h

zig-out/
zig-cache/

*.dot

*.sw?

__pycache__/

# Model files
ggml-model-f16.bin
*.bat
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
*.xcuserstate
.swiftpm/xcode/xcuserdata/felixlin.xcuserdatad/xcschemes/xcschememanagement.plist
ggml.xcworkspace/contents.xcworkspacedata
ggml.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ggml.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
ggml.xcworkspace/xcuserdata/felixlin.xcuserdatad/WorkspaceSettings.xcsettings
.swiftpm/xcode/xcshareddata/xcschemes/ggml.xcscheme
